
.container{
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: white;
    width: 1200px;
    margin: auto;
}

    /* "> div" significa que a configuração se aplica ao filho */
.container > div{
    border: 5px solid red;
    width: 100%;
}

body{
    background-color: pink;
}

